qratorMuiBuildButton($colors)

  buildButtonFlat($color)
    color: $color
    &:hover
      background-color: rgba(153, 153, 153, 0.2)
    &[disabled]
      cursor: default
      color: lighten($colors.muted, 30%)
      &:hover, &:focus
        background-color: white

  buildButtonRaised($color, $isLight=true)
    color: white
    background-color: $color

    if $isLight
      .q-mui-ripple-effect
        background-color: rgba(255, 255, 255, .4)

    &.btn_focused
      background-color: darken($color, 12%)
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px, rgba(0, 0, 0, 0.2) 0px 3px 8px

    &[disabled]
      background-color: #e5e5e5
      color: rgba(0, 0, 0, 0.3);
      cursor: default
      box-shadow: none

  .q-mui-button
    position: relative
    cursor: pointer
    display: inline-block
    overflow: hidden
    user-select: none
    z-index: 1
    transition: .3s ease-out
    background: none
    border: none
    outline: none
    border-radius: 2px
    height: 36px
    line-height: @height
    text-decoration: none
    margin: 0
    padding: 0
    text-align: center
    transition: all
    transition-duration: 450ms
    transition-timing-function: $qratorMuiAnimationFunc

    &__container
      position: relative
      display: inline-block
      padding: 0 16px
      letter-spacing: 0px
      text-transform: uppercase
      font-weight: 500
      font-size: 14px
      z-index: 10

      .q-mui-icon
        color: inherit

    &_expand
      width: 100%

    &_flat
      buildButtonFlat(black)

    &_raised
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px
      &^[-1]_focused
        background-color: rgba(0, 0, 0, 0.08)
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px

    &_icon
      height: 48px
      width: @height
      border-radius: (@width / 2)

      & ^[-1]__container
        padding: 0

      .q-mui-icon
        font-size: 24px

      &^[-1]_sm
        height: 32px
        width: @height
        border-radius: (@width / 2)

        .q-mui-icon
          font-size: 18px

      &[disabled]
        cursor: default

    for $name, $color in $colors
      &&_flat&_{$name}
        buildButtonFlat($color)

      &&_raised&_{$name}
        buildButtonRaised($color)
