qratorMuiBuildTooltip()
  .q-mui-tooltip-container
    position: fixed
    z-index: 10
    left: 0
    top: 0
    // display: none
    &_show
      z-index: 10
      display: block

  .q-mui-tooltip
    position: relative
    padding: 7px 5px
    background-color: rgba(0, 0, 0, .65)
    color: white
    font-size: 12px
    color: #fafafa
    border-radius: 3px
    pointer-events: none
    opacity: 1
    // transform: scale(1)

    &-enter
      transition: all 200ms// ($qratorMuiAnimationFunc)
      transform: scale(0)
      &-active
        transform: scale(1)

    $arrowSize = 3px

    &__arrow
      position: absolute
      width: $arrowSize
      height: $arrowSize
      transform-origin: center center
      box-sizing: border-box
      border-color: @background-color
      border-width: $arrowSize
      border-left-style: solid
      border-top-style: solid
      border-right-style: solid
      border-right-color: transparent
      border-bottom-color: transparent
      border-bottom-style: solid

    &_bottom
      & ^[-1]__arrow
        left: 50%
        top: (- $arrowSize)
        transform: translateX(-50%) rotateZ(45deg)

    &_top
      & ^[-1]__arrow
        left: 50%
        bottom: (- $arrowSize)
        transform: translateX(-50%) rotateZ(-135deg)

    &_left
      & ^[-1]__arrow
        top: 50%
        right: (- $arrowSize)
        transform: translateY(-50%) rotateZ(135deg)

    &_right
      & ^[-1]__arrow
        top: 50%
        left: (- $arrowSize)
        transform: translateY(-50%) rotateZ(-45deg)
